@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    font-family: "Mulish", sans-serif;
}
.section-1{
    margin: 50px;
    height: auto;
    width: auto;
}
.div-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-p{
font-size: 2rem;
font-weight: 800;
line-height:2.8rem;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
}
.li{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
   
}
.li li{
   margin: 30px;
    color: rgb(66, 66, 71);
font-size: 1.5rem;
font-weight: 400;
text-align: center;
}
/* complete nav sactoon */

.section-1-banner{
    background-image: linear-gradient(0.00deg, rgba(19, 19, 24, 0),rgba(19, 19, 24, 0.8) 100%), url(Images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    width: 100%;
}
.section-1-text h1{
    color: rgb(255, 255, 255);
font-size:4rem;
font-weight: 800;
line-height:4.5rem;
letter-spacing: 0%;
}
.section-1-text p{
 color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 400;
line-height:1.5rem;
text-align: center;
}
.section-1-banner{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    justify-content: center;

}
.section-1-input{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;

}
.section-1-input input,select{
    border-radius: 6px;

background: rgb(255, 255, 255);
height: 40px;
border: none;
text-align: center;
cursor: pointer;
}
.btn{
    border-radius: 5px;

background: rgb(255, 84, 0);color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 700;
line-height:1.5rem;
text-align: center;
border: none;
padding: 10px;
cursor: pointer;
}
@media screen and (max-width:576px) {
    .section-1{
        margin: 0;
    }
    .nav{
        display: flex;
        flex-direction: column;

    }
    .section-1-input{
        flex-direction: column;
        width: 450px;
        margin: 0 auto;
        gap: 20px;
    
    }
    .section-1-input input,select ,button{
    width:450px;
    margin: 0 auto;
    }
    .li li{
        margin: 10px;
    }
    .li {
        justify-content: space-between;
    }
}
/* section-2 */
.section-2{
    margin: 50px;
    height:600px;
    width: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-2-text h2{
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}
.section-2-text{
    width: 500px;
    height: auto;
    padding: 30px;
    text-align: left;
}
.section-2-img{
    width: 540px;
height: 550px;
display: flex;
text-align: end;
}
.section-2-img img{
    width: 90%;
height: 90%;
margin-top: 20px;

}

@media screen and (max-width:576px) {
    .section-2{
        margin: 0;
        height:auto;
        width: auto;
       flex-direction: column;
        justify-content: space-between;
    }
    .section-2-img {
        display: flex;
    margin: 0 auto;
    margin-top: 20px;
    }
}
/* section-3 */
.section-3{
    margin: 50px;
    height: auto;
    width: auto;
    margin-top: 50px;

}
.section-3-div1 h2{
    color: rgb(19, 19, 24);
font-size: 2.5rem;
font-weight: 800;
line-height: 2rem;
letter-spacing: 0%;
text-align: center;
}
.section-3-div1 p{
    color: rgba(19, 19, 24, 0.7);
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0%;
text-align: center;
}
.row-1, .row-2 ,.row-3{
    display:grid;
    height: 300%;
}
.row-1 img, .row-2 img,.row-3 img{
    height: 300px;
    width: auto;
    gap: 20px;
    padding: 20px;
}
.countycard{
    position: relative;
    filter: brightness(80%);
}
.countycard p{
 position: absolute;
 top: 40%;
 left: 50%;
 color: white;
 font-weight: 600px;
 font-size: 28px;
 transform: translate(-50% , 50%);
}
.row-1{
    grid-template-columns: 1fr 1fr;
}
.row-2{
    grid-template-columns: .8fr 1fr .75fr;
}
.row-3{
    grid-template-columns: 1fr 1.25fr;
}
@media screen and (max-width:576px){
    .section-3{
        margin:0;
        height: auto;
        width: auto;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    .countycard {
        height: 300px;
        width:550px;
        margin-bottom: 20px;
    }
    .countycard img{
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .row-1 ,  .row-2 , .row-3{
        display: flex;
        flex-direction: column;
    }
  
}

/* section-4 */
.section-4{
    margin: 50px;
    height: auto;
    width: auto;
    margin-top: 50px;
    padding: 20px;

}
h4{
    color: rgb(19, 19, 24);
font-size: 1.6rem;
font-weight: 800;
line-height: 1.5rem;
letter-spacing: 0%;
text-align: center;
}
.card-1{
    width: 500px;
    height: 260px;
    padding: 20px;
    box-sizing: border-box;
border: 1px solid rgba(251, 181, 99, 0.2);
border-radius: 8px;
background-color: rgba(251, 181, 99, 0.05);
}
.card-2{
    width: 500px;
    height: 260px;
    padding: 20px;
    box-sizing: border-box;
border: 1px solid rgba(251, 181, 99, 0.2);
border-radius: 8px;
background-color: rgba(41, 206, 246, 0.05);
}
.card-3{
    width: 500px;
    height: 260px;
    padding: 20px;
    box-sizing: border-box;
border: 1px solid rgba(251, 181, 99, 0.2);
border-radius: 8px;
background-color: rgba(233, 68, 68, 0.05);
}
.card-contaiber-row-1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.card-contaiber-row-2{
    display: flex;
    justify-content: center;}
    @media screen and (max-width:576px){
        .section-4{
            margin: 0;
            height: auto;
            width: auto;
            margin-top: 50px;
            margin: 0 auto;
         padding: 20px;
        
        }
        .card-1,.card-2,.card-3{
            margin-bottom: 20px;
        }
        .card-contaiber-row-1 , .card-contaiber-row-2{
         display: flex;
         flex-direction: column;
         margin: 0 auto;
         
        }
    }
    /* section-5 */
  .section-5{
    margin: 50px;
    height: auto;
    width: auto;
    margin-top: 50px;
    padding: 20px;
}
    p{
        color: rgba(19, 19, 24, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 15px;
text-align: center;
    }
    .section-5-div2{
        height: 500px;
        margin: 50px;
        width: auto;
        background-image: url(Images/Group-39.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        margin-bottom: 20px;
    }
    .li1{
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    .pakage-1{
        border-radius: 10px;
backdrop-filter: blur(5px);
background: rgba(255, 255, 255, 0.4);
width: 530px;
height: 250px;
text-align: center;
padding: 10px 30px;
position: absolute;
top: 10%;
left: 35%;

    }
    .section-5-div3{
        height: 500px;
        width: auto;
        margin: 50px;
        background-image: url(Images/Group-39.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        margin-bottom: 20px;
    }
        .pakage-3{
            border-radius: 10px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.4);
    width: 530px;
    height: 250px;
    text-align: center;
    padding: 10px 30px;
    position: absolute;
    top: 10%;
    left: 100px;
        }
    .section-5-div4{
        height: 500px;
        margin: 50px;
        width: auto;
        background-image: url(Images/Group-39.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;}
        .pakage-4{
            border-radius: 10px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.4);
    width: 530px;
    height: 250px;
    text-align: center;
    padding: 10px 30px;
    position: absolute;
    top: 10%;
    left: 35%;
    margin-bottom: 20px;

        }
        /* responsibe */
        @media screen and (max-width:576px) {
              
            .section-5{margin: 0;
            }
                .section-5-div2 ,.section-5-div3, .section-5-div4{
                  align-items: center;
                  height: 600px;
                }
                .btn1{
                    width: 200px;
                }
                .pakage-1, .pakage-3, .pakage-4{
       text-align: center;
            width: 400px;
            height: 300px;
            text-align: center;
            padding: 5px;
            position: absolute;
            top: 8%;
            left: 1%;
            
                }
        }
        @media screen and (min-width:577px)  and (max-width:1300px){
            .section-5{margin: 0;
            }
                .section-5-div2{
                  align-items: center;
                }
                .btn1{
                    width: 200px;
                }
                .pakage-1,  .pakage-4{
       text-align: center;
            width: 400px;
            height: 300px;
            text-align: center;
            padding: 5px;
            position: absolute;
            top: 10%;
            left: 10%;
            
                }
                .pakage-3{
                    width: 400px;
                    height: 300px;
                    text-align: center;
                    padding: 5px;
                    position: absolute;
                    top: 10%;
                    left: 35%;
                }
        }

        /* section-6 */
        .section-6{margin: 50px;
            height: auto;
            width: auto;
            margin-top: 50px;
            padding: 20px;
        }
        .section-6-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            padding: 50px;
        }
        .section-6-text{
               padding: 30px;
               width: 500px;
               gap: 30px;
        }
        .section-6-text li{
            margin-bottom: 30px;
        }

        @media screen and (max-width:576px){

            .section-6-container{
                flex-direction: column;
            }
            .vedio{
                height: 350px;
                width: 550px;
                margin: 0 auto;
                display: flex;
                align-items: center;
            }
            .vedio-1{
                margin: 0 auto;
                text-align: center;
            }
          .section-6-text{
            display: flex;
            flex-direction: column;
          }
        }


        /* section7 */

    .section-7    {margin: 50px;
            height: auto;
            width: auto;
            margin-top: 50px;
            padding: 20px;
        }

        .section-7-text{
            max-width: 474px;
height: 422px;
display: flex;
flex-direction: column;
align-items: center;
        }
        .section-7 h5{
            color: rgb(19, 19, 24);
font-family: Mulish;
font-size: 30px;
font-weight: 800;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
        }
        input{
            height: 30px;
            width: 400px;
            background-color: rgba(19, 19, 24, 0.05);
            margin: 10px;
            border: none;
            border: 5px;
            padding: 5px;
           border-radius: 5px;
        }
    form{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .section7-img{
        max-width: 572px;
height: 400px;
position: relative;
    }
    .section7-img img{
        max-width: 90%;
height: 400px;
    }
.section-7-container{
    display: flex;
    justify-content: space-between;
}
.offer{
    border-radius: 8px;

background: rgb(255, 84, 0);
width: 200px;
height: 80px;
display: flex;
text-align: center;
align-items: center;
position: absolute;
top: 65%;
left: 52%;
transform: rotate(-32deg);

}

h6{color: white;
    font-size: 34px;
    text-align: center;
}



/* footer */

.footer{
    height: auto;
    width: auto;
    margin: 50px;
    margin: 50px;
    margin-top: 50px;

    padding: 20px;
    align-items: center;
    text-align: center;
    background-color: gray;

}
@media screen and (max-width:576px){
    .section-7-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .offer{
    top: 62%;
    left: 40%;
    transform: rotate(-40deg);
    
    }
    .section-7-text{
        height: 300px;
        padding-top: 40px;
        gap: 20px;
        text-align: left;
    }

    *{
        margin: 0 auto;
    }
    .footer{
        margin: 0;
    }
}


